@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    padding-top: 2px;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

h2 {
    padding: 20px;
}

body {
    padding: 50px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #418244;
}

input[type=back] {
    background-color: #da1717;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    gap: 1rem;
}

input[type=back]:hover {
    background-color: #951014;
}


.container {
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 40px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn-back a{
    font-size: 20px;
    cursor: pointer;
    color: black;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}